*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fd0000;
}

.contact-form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    background: #cd4242;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #613e3e;
    font-size: 14px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #5e1f1f;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #333;
}

