a{
    color: blue;
    font-family: cursive;
    font-size:large;
    font-style: italic;
    font-weight: 400;
}

h1{
    color: rgb(28, 49, 42);
    font-family: cursive;
    font-style: oblique;
    font-size: larger;
    font-weight: 600;
}

p{
    color: rgb(255, 142, 5);
    font-family: cursive;
    font-size: medium;
    font-style: normal;
    font-weight: 500;

}