body {
    font-family:cursive;
    background-color: #00ff0d;
  }
  
  div {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #cb9797;

  }
  
  li div {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 15px;
  }